@import url('https://fonts.googleapis.com/css2?family=Catamaran&family=Mystery+Quest&display=swap');

html {
    height: 100%;
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background-color: #FEDCD2;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-family: Catamaran;
    color: #47526b;
    margin: 0;
}

.white-text {
    color: #ffffff;
    font-weight: bold;
}

.page-break {
    height: 3px;
    background-color: #ffffff;
}

.recipe-image {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

/* ---------- Overwrites the Materialize defaults ---------- */ 
.row {
    margin-bottom: 0px;
}

.input-field {
    margin-top: 0;
    margin-bottom: 6px; 
}

/* ---------- buttons ---------- */
.custom-btn {
    background-color: #BFD8D2 !important;
    font-weight: bold;
    margin: 10px 3px 10px 3px;
}

.custom-btn:hover {
    background-color: #ee6e73 !important;
}

.standard-btn {
    width: 125px;
}

#favourite-btn {
    background-color: #fcf3e9;
    padding: 0 0 5px 0;
    transform: translateZ(0);
    backface-visibility: hidden;
    transition-duration: 0.3s;
    transition-property: transform;
}

#favourite-btn:hover, 
#favourite-btn:focus,
#favourite-btn:active {
    cursor: pointer;
    transform: scale(1.1);
}

/* ---------- base.html - Banner ---------- */
#banner-image {
    height: 250px;
    width: 100%; 
    background: url("../images/banner_image.jpg") no-repeat center center;
    /* animation-name: banner-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards */
}

#banner-outer {
    height: 250px;
    width:100%;
    overflow: hidden;
    position: relative;
}

/* @keyframes banner-zoom {
    from{
        transform: scale(1.0);
    }
    to {
        transform: scale(1.1);
    }
} */

#cover-text h1 {
    font-size: 800%;
    font-family: Mystery Quest;
    color: #FEDCD2;
    text-shadow: -1px 1px 2px #ee6e73, 
                    1px 1px 2px #ee6e73,
                    1px -1px 0 #ee6e73,
                    -1px -1px 0 #ee6e73;
}

#cover-text {
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 80px;
}

#button-row {
    position: absolute;
    width: 100%;
    bottom: 0px;
}

#button-position {
    display: flex;
    justify-content: center;
}

/* ---------- flash messages ---------- */
.flashes {
    padding-top: 10px
}

.flashes h3 {
    line-height: 1.6;
}

/* ---------- Pagination ----------*/
.pagination-page-info {
    padding: .6em;
    padding-left: 0;
    width: 40em;
    margin: .5em;
    margin-left: 0;
    font-size: 12px;
}

.pagination-page-info b {
    color: black;
    background: #6aa6ed;
    padding-left: 2px;
    padding: .1em .25em;
    font-size: 150%;
}

/* ---------- base.html - Footer ---------- */
footer {
    width: 100%;
    color: #FEDCD2;
    text-align: center;
    margin-top: auto;
}

.social-links {
    display: flex;
    justify-content: center;
}

.social-icon {
    font-size: 35px;
    margin: 2px 20px 2px 20px;
    vertical-align: middle;
    transform: translateZ(0);
    backface-visibility: hidden;
    transition-duration: 0.3s;
    transition-property: transform;
}

.social-icon a {
    color: #FEDCD2; 
}

.social-icon:hover,
.social-icon:focus,
.social-icon:active {
    transform: scale(1.2);
}

/* ---------- cards ---------- */
.card {
    box-shadow: 0 0 0 3px #ffffff;
}

.recipe-display-card {
    transform: translateZ(0);
    backface-visibility: hidden;
    transition-duration: 0.3s;
    transition-property: transform;
}

.recipe-display-card:hover, 
.recipe-display-card:focus,
.recipe-display-card:active {
    cursor: pointer;
    transform: scale(1.025);
}

.card-panel {
    margin: 8vh 0vh 4vh 0vh;
    background-color: #fcf3e9;
    box-shadow: 0 0 0 3px #ffffff;
    padding: 16px;
}

#category-search {
    margin: 0.5vh;
    background: url("../images/categories_image.jpg") no-repeat center center;
    background-size: 100%;
    box-shadow: 0 0 0 3px #ffffff;
    padding: 16px;
    height: 20vh;
}

#cat-search-wrap {
    background-color: #fcf3e9 !important;
    padding: 0 !important;
    box-shadow: 0 0 0 3px #ffffff;
    border-radius: 20px;
    margin-top: 5%;
}

.admin-card {
    border-radius: 5px;
    background-color: #fcf3e9;
}

.card-panel-clear {
    margin: 8vh 0vh 4vh 0vh;
    background-color: #FEDCD2;
    box-shadow: 0 0 0 0px #FEDCD2;
}

.card-content {
    padding: 20px 15px 15px 15px !important;
}

.card-title h4 {
    font-family: Catamaran;
}

.btn-floating {
    background-color: #BFD8D2 !important;
    font-weight: bold; 
}

.btn-floating:hover {
    background-color: #ee6e73 !important;
    font-weight: bold; 
}

.card-image {
    position: relative;
}

.card-text {
    position: absolute;
    bottom: 5px;
    width: 106%;
    text-align: center;
}

.card-text h1 {
    font-size: 500%;
    margin-bottom: 1px;
    font-family: Mystery Quest;
    color: #FEDCD2;
    text-shadow: -1px 1px 2px #ee6e73, 
                    1px 1px 2px #ee6e73,
                    1px -1px 0 #ee6e73,
                    -1px -1px 0 #ee6e73;
}

/* ---------- view-recipe card ----------*/
.recipe-card {
    background-color: #fcf3e9;
    box-shadow: 0 0 0 3px #ffffff;
    padding: 16px;
    border-radius: 5px;
}

#recipe-card-top {
    margin: 8vh 0vh 2vh 0vh;
}

#recipe-card-top-details {
    position: relative;
}

#recipe-heading-details {
    position: absolute;
    bottom: 0;
}

#recipe-heading-details h6 {
    margin: 2px 0px;
    line-height: 1.5;
}

#recipe-card-quote {
    margin: 1vh 0vh 1vh 0vh;
}

#recipe-quote h6 {
    margin: 10px 10px 0px 10px;
    line-height: 1.5;
}

#recipe-card-ingredients {
    margin: 1vh 0vh 2vh 0vh;
}

#recipe-card-instructions {
    margin: 1vh 0vh 2vh 0vh;
}

.recipe-detail {
    margin: 7px 0px;
}

.review-card {
    background-color: #FEDCD2;
    box-shadow: 0 0 0 3px #ffffff;
    padding: 10px;
    margin: 15px 0;
    border-radius: 5px;
}

.material-tooltip {
    background-color: #FEDCD2 !important;
    font-family: Catamaran;
    color: #47526b;
    border-radius: 20px;
    min-height: 10px;
    padding: 5px;
  }

/* ---------- icons ---------- */
.icon-style {
    color: #ee6e73;
}

.fa-trash-alt {
    font-size: 3rem;
}

.fa-trash-alt:hover {
    color: #FEDCD2 !important;
    text-shadow: -1px 1px 2px #ee6e73, 
                    1px 1px 2px #ee6e73,
                    1px -1px 0 #ee6e73,
                    -1px -1px 0 #ee6e73;
}

/* ---------- Form stylings ---------- */
 /* label focus color */
.input-field input[type=text]:focus + label,
.input-field input[type=password]:focus + label,
.input-field input[type=email]:focus + label {
    color: #ee6e73 !important;
}

/* label underline focus color */
.input-field input[type=text]:focus,
.input-field input[type=password]:focus,
.input-field input[type=email]:focus {
    border-bottom: 1px solid #ee6e73 !important;
    box-shadow: 0 1px 0 0 #ee6e73 !important;
}

/* icon focus color */
.icon-style.active {
    color: #FEDCD2 !important;
    text-shadow: -1px 1px 2px #ee6e73, 
                    1px 1px 2px #ee6e73,
                    1px -1px 0 #ee6e73,
                    -1px -1px 0 #ee6e73 !important;
}

.form-subheading {
    background-color: #ee6e73;
    border-radius: 5px;
    margin: 10px 0px 10px 0px;
}

.form-subheading h5 {
    color: #FEDCD2;
    padding: 10px 0px;

}

/* ---------- modal stylings ---------- */
.modal,
.modal-footer {
    background-color: #FEDCD2 !important;
}

.modal-footer,
.modal-content {
    display: flex;
    justify-content: center;
}

.modal-btn {
    margin: 0px 8px !important;
}

/* ---------- Rating input ---------- */
.display-flex {
    display: flex;
    align-items: flex-end;
}

#star-panel {
    padding: 5px;
}

#rating-text {
    color: blue;
    margin: 5px 10px 0 0;
}

.review-text {
    color: blue;
    margin: 5px 0 0 10px;
}

#rating-text:hover, #rating-text:focus,
.review-text:hover, .review-text:focus {
    text-decoration: underline;
    cursor: pointer;
}

#rating-submit-btn {
    margin: 0px 10px;
    border-radius: 20px;
    padding: 0 10px;
}

#review-input {
    background-color: white;
    border-radius: 10px;
    border: solid 1px grey;
    padding: 5px;
}

.vert-line {
    border-left: 1px solid blue;
    height: 20px;
    margin: 5px 0 0 0;
}

/* ---------- Rating display ----------*/
.star-outline {
    font-size: 1.25rem;
    text-shadow: -1px 1px 2px #ee6e73, 
                 1px 1px 2px #ee6e73,
                 1px -1px 0 #ee6e73,
                 -1px -1px 0 #ee6e73 !important;
}

.star-filled {
    color: orange;
}

.star-empty {
    color: #FCF3E9;
}

#number-ratings {
    margin: 0 5px;
}

/* ---------- Media Queries ---------- */

@media only screen and (max-width: 1266px) {
    #recipe-heading-details {
        position: unset;
    }
    
}

@media only screen and (min-width: 993px) {
    /* overrides the materialize container width for desktop resolutions */
    .container {
        width: 60% !important;
    }
}