@import url('https://fonts.googleapis.com/css2?family=Catamaran&family=Mystery+Quest&display=swap');

html {
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background-color: #FEDCD2;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

h2,
h3,
h4,
p {
    font-family: Catamaran;
    color: #47526b;
    margin: 0;
}

.page-break {
    height: 3px;
    background-color: #ffffff;
}

/* ---------- buttons ---------- */
button {
    background-color: #BFD8D2 !important;
    font-weight: bold;
}

button:hover {
    background-color: #ee6e73 !important;
    font-weight: bold;
}

.standard-button {
    width: 125px;
}
/* ---------- base.html - Banner ---------- */
#banner-image {
    height: 250px;
    width: 100%; 
    background: url("../images/banner_image.jpg") no-repeat center center;
    animation-name: banner-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards
}

#banner-outer {
    height: 250px;
    width:100%;
    overflow: hidden;
    position: relative;
}

@keyframes banner-zoom {
    from{
        transform: scale(1.0);
    }
    to {
        transform: scale(1.1);
    }
}

#cover-text h1 {
    font-size: 800%;
    font-family: Mystery Quest;
    color: #FEDCD2;
    text-shadow: -1px 1px 2px #ee6e73, 
                    1px 1px 2px #ee6e73,
                    1px -1px 0 #ee6e73,
                    -1px -1px 0 #ee6e73;
}

#cover-text {
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 40px;
}

#button-row {
    position: absolute;
    width: 100%;
    bottom: -10px;
}

#button-position {
    display: flex;
    justify-content: center;
}

/* ---------- flash messages ---------- */
.flashes {
    padding-top: 10px
}

.flashes h3 {
    line-height: 1.6;
}

/* ---------- base.html - Footer ---------- */
footer {
    width: 100%;
    color: #FEDCD2;
    text-align: center;
    margin-top: auto;
}

.social-links {
    display: flex;
    justify-content: center;
}

.social-icon {
    font-size: 35px;
    margin: 2px 20px 2px 20px;
    vertical-align: middle;
    transform: translateZ(0);
    backface-visibility: hidden;
    transition-duration: 0.3s;
    transition-property: transform;
}

.social-icon a {
    color: #FEDCD2; 
}

.social-icon:hover,
.social-icon:focus,
.social-icon:active {
    transform: scale(1.2);
}

/* ---------- cards ---------- */
.card-panel {
    margin: 10vh 0vh 5vh 0vh;
    background-color: #fcf3e9;
    box-shadow: 0 0 0 3px #ffffff;
}

.card-title {
    font-family: Catamaran;
}

.btn-floating {
    background-color: #BFD8D2 !important;
    font-weight: bold; 
}

.btn-floating:hover {
    background-color: #ee6e73 !important;
    font-weight: bold; 
}

.card-image {
    position: relative;
}

.card-text {
    position: absolute;
    bottom: 5px;
    width: 106%;
    text-align: center;
}

.card-text h1 {
    font-size: 500%;
    margin-bottom: 1px;
    font-family: Mystery Quest;
    color: #FEDCD2;
    text-shadow: -1px 1px 2px #ee6e73, 
                    1px 1px 2px #ee6e73,
                    1px -1px 0 #ee6e73,
                    -1px -1px 0 #ee6e73;
}

/* ---------- icons ---------- */
.icon-style {
    color: #ee6e73;
}

/* ---------- Form stylings ---------- */
 /* label focus color */
.input-field input[type=text]:focus + label,
.input-field input[type=password]:focus + label,
.input-field input[type=email]:focus + label {
    color: #ee6e73 !important;
}

/* label underline focus color */
.input-field input[type=text]:focus,
.input-field input[type=password]:focus,
.input-field input[type=email]:focus {
    border-bottom: 1px solid #ee6e73 !important;
    box-shadow: 0 1px 0 0 #ee6e73 !important;
}

/* icon focus color */
.icon-style.active {
    color: #FEDCD2 !important;
    text-shadow: -1px 1px 2px #ee6e73, 
                    1px 1px 2px #ee6e73,
                    1px -1px 0 #ee6e73,
                    -1px -1px 0 #ee6e73 !important;
}

@media only screen and (min-width: 993px) {
    /* overrides the materialize container width for desktop resolutions */
    .container {
        width: 60% !important;
    }
}