{% extends "base.html" %}
{% block content %}

<div class="row">
    <form class="col s12 m10 offset-m1" method="POST" action="{{ url_for('add_recipe') }}">
        <div class="card-panel" id="top-card">
            <header id="card-header">
                <h2 class="center-align">Add Recipe</h2>
            </header>
            <!-- Recipe title input -->
            <div class="row">
                <div class="col s12">
                    <div class="input-field col s12">
                        <i class="fas fa-pencil-alt prefix icon-style"></i>
                        <input id="recipe-title" name="recipe-title" type="text" class="validate" 
                            pattern="^[A-Za-z\W+]{5,30}$" required>
                        <label for="recipe-title">Recipe Title (4 to 30 characters, no numbers)</label>
                    </div>
                </div>
            </div>
            <p class="center-align form-text">Please select a type for your recipe (required).</p>
            <!-- Recipe Type input -->
            <div class="row">
                <div class="col s12">
                    <div class="input-field col s12">
                        <i class="fas fa-folder-open prefix icon-style"></i>
                        <select id="recipe-type" name="recipe-type" class="validate" required>
                            <option value="" disabled selected>Select recipe type</option>
                            {% for type in types %}
                            <option value="{{ type._id }}">{{ type.type_name|capitalize }}</option>
                            {% endfor %}
                        </select>
                    </div> 
                </div>
            </div>
            <p class="center-align form-text">Please select at least one category that decribes your recipe.</p>
            <!-- Recipe Category input 1 -->
            <div class="row">
                <div class="col s12">
                    <div class="input-field col s12">
                        <i class="far fa-folder-open prefix icon-style"></i>
                        <select id="recipe-category" name="recipe-category" class="validate" required>
                            <option value="" disabled selected>Select category 1</option>
                            {% for category in categories1 %}
                            <option value="{{ category._id }}">{{ category.category_name|capitalize }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
            <!-- Recipe Category input 2 -->
            <div class="row">
                <div class="col s12">
                    <div class="input-field col s12">
                        <i class="far fa-folder-open prefix icon-style"></i>
                        <select id="recipe-category" name="recipe-category" class="validate">
                            <option value="" disabled selected>Select category 2</option>
                            {% for category in categories2 %}
                            <option value="{{ category._id }}">{{ category.category_name|capitalize }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
            <!-- Recipe Category input 3 -->
            <div class="row">
                <div class="col s12">
                    <div class="input-field col s12">
                        <i class="far fa-folder-open prefix icon-style"></i>
                        <select id="recipe-category" name="recipe-category" class="validate">
                            <option value="" disabled selected>Select category 3</option>
                            {% for category in categories3 %}
                            <option value="{{ category._id }}">{{ category.category_name|capitalize }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
            <!-- Recipe Description -->
            <div class="row">
                <div class="col s12">
                    <div class="input-field col s12">
                        <i class="fas fa-align-left prefix icon-style"></i>
                        <textarea id="recipe-description" name="recipe-description" minlength="5" maxlength="175" 
                            class="materialize-textarea validate" required></textarea>
                        <label for="recipe-description">Brief description (5 to 175 characters)</label>
                    </div>
                </div>
            </div>
            <!-- Recipe preparation time -->
            <div class="row">
                <div class="col s12">
                    <div class="input-field col s12">
                        <i class="fas fa-clock prefix icon-style"></i>
                        <input id="recipe-preptime" name="recipe-preptime" type="number" step="1" class="validate" required>
                        <label for="recipe-preptime">Preparation time (minutes)</label>
                    </div>
                </div>
            </div>
            <!-- Recipe cooking time -->
            <div class="row">
                <div class="col s12">
                    <div class="input-field col s12">
                        <i class="fas fa-clock prefix icon-style"></i>
                        <input id="recipe-cooktime" name="recipe-cooktime" type="number" step="1" class="validate" required>
                        <label for="recipe-cooktime">Cooking time (minutes)</label>
                    </div>
                </div>
            </div>
            <!-- How much the recipe serves -->
            <div class="row">
                <div class="col s12">
                    <div class="input-field col s12">
                        <i class="fas fa-users prefix icon-style"></i>
                        <input id="recipe-serves" name="recipe-serves" type="number" step="1" class="validate" required>
                        <label for="recipe-cooktime">Serves</label>
                    </div>
                </div>
            </div>
            <!-- Add 1st Ingredient.  Any additional are dealt with through a JS function -->
            <div class="row">
                <div class="col s12 m10 offset-m1 center-align form-subheading">
                    <h5>
                    Ingredients list
                    </h5>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <div class="input-field col s12">
                        <i class="fas fa-hand-point-right prefix icon-style"></i>
                        <input id="ingredient" name="ingredient" type="text" class="validate" required>
                        <label for="ingredient">First Ingredient</label>
                    </div>
                </div>
            </div>
            <div id="additional-ingredients-here"></div>
            <!-- Add Ingredient button -->
            <div class="row">
                <div class="col s12 center-align">
                    <button type="button" class="btn-small custom-btn" id="add-ingredient">Add Ingredient</button>
                </div>
            </div>
            <!-- Add 1st Method Instruction.  Any additional are dealt with through a JS function -->
            <div class="row">
                <div class="col s12 m10 offset-m1 center-align form-subheading">
                    <h5>
                    Method
                    </h5>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <div class="input-field col s12">
                        <i class="fas fa-thumbs-up prefix icon-style"></i>
                        <input id="instruction" name="instruction" type="text" class="validate" required>
                        <label for="instruction">Start here</label>
                    </div>
                </div>
            </div>
            <div id="additional-instructions-here"></div>
            <!-- Add Instruction button -->
            <div class="row">
                <div class="col s12 center-align">
                    <button type="button" class="btn-small custom-btn" id="add-instruction">Add Instruction</button>
                </div>
            </div>
            <!-- Add image URL -->
            <div class="row">
                <div class="col s12">
                    <div class="input-field col s12">
                        <i class="fas fa-camera prefix icon-style"></i>
                        <input id="recipe_image" name="recipe_image" type="text" class="validate" required>
                        <label for="step">Add image URL</label>
                    </div>
                </div>
            </div>
            <!-- Submit button -->
            <div class="row place-center">
                <button type="submit" class="col s8 m4 btn-small offset-s2 offset-m4 custom-btn">
                    Upload Recipe <i class="fas fa-cloud-upload-alt"></i>
                </button>
            </div>
        </div>
    </form>
</div>

{% endblock %}

{% block scripts %}

<script src="{{ url_for('static', filename='js/add_recipe_script.js') }}"></script>

{% endblock %}