{% extends "base.html" %}
{% block content %}

<!-- Displays the current 'types' and allows the admin user to select to add a new type, and edit and delete existing -->
<div class="row">
    <div class="col s12 m10 offset-m1">
        <div id="card-panel-clear">
            <!-- Navigation button & information -->
            <div class="row">
                <div class="col" id="nav-guide">
                    <div id="nav-btn">
                        <a href="{{ url_for('admin_functions', username=session['user']) }}" class="btn-small custom-btn rounded-btn">
                            <i class="fas fa-arrow-circle-left"></i></a>
                        <p class="nav-text">Back to admin</p>
                    </div>
                    <div id="nav-location">
                        <div id="vert-line-nav"></div>
                        <h4>Manage Types<i class="fas fa-arrow-right fa-sm"></i></h4>
                    </div>
                </div>
            </div>    
            <!-- Add new type button -->
            <div class="row place-center">
                <a href="{{ url_for('add_type') }}" class="col s10 m6 offset-s1 offset-m3 btn-small custom-btn">
                    <i class="fas fa-pencil-alt"></i> Add new type
                </a>
            </div>
            <!-- Display of current types in cards -->
            {% for type in types %}
            <div class="col s12 m6 l4">
                <div class="card admin-card">
                    <div class="card-image">
                        <img src="{{ type.type_image }}" alt="image associated with type - varies">
                    </div>
                    <div class="card-content">
                        <div class="card-title center-align">
                            <h5>{{ type.type_name }}</h5>
                        </div>
                    </div>
                    <!-- Button for admin user to select to edit type -->
                    <div class="row place-center">
                        <a href="{{ url_for('edit_type', type_id=type._id) }}" class="col s8 offset-s2 btn-small custom-btn">
                            <i class="fas fa-edit"></i> Edit
                        </a>
                    </div>
                    <!-- Button for admin user to select to delete type (modal appears for user to confirm choice)-->
                    <div class="row place-center">
                        <a href="#delete-modal-{{ type._id }}" class="col offset-s2 s8 btn-small custom-btn modal-trigger">
                            <i class="fas fa-trash-alt"></i> Delete
                        </a>
                    </div>
                </div>
            </div>
            <!-- Modal associated with delete function -->
            <div id="delete-modal-{{ type._id }}" class="modal">
                <div class="modal-content center-align">
                    <h5><i class="fas fa-exclamation-triangle"></i><br>
                        Please be aware; some recipes may be associated with this type and so may not be 
                        fully discoverable if this type is deleted.  Are you certain you want to delete?
                    </h5>
                </div>
                <form method="POST" action="{{ url_for('delete_type', type_id=type._id) }}">
                    <div class="row">
                        <button type="submit" class="col s8 m6 l4 btn-small offset-s2 offset-m3 offset-l4 custom-btn">
                            <i class="fas fa-check-circle"></i> Yes
                        </button>
                    </div>
                    <div class="row">
                        <a href="#!" class="col s8 m6 l4 btn-small offset-s2 offset-m3 offset-l4 custom-btn modal-close">
                            <i class="fas fa-times-circle"></i> Cancel
                        </a>
                    </div>
                </form>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}