{% extends "base.html" %}
{% block content %}

<!-- Displays the current 'types' and allows the admin user to select to add a new type, and edit and delete existing -->
<div class="row">
    <div class="col s12 m10 offset-m1">
        <div class="card-panel card-panel-clear">
            <div class="row">
                <!-- Navigation button -->
                <div class="row">
                    <div class="col display-flex">
                        <a href="{{ url_for('admin_functions', username=session['user']) }}"><button class="btn-small custom-btn rounded-btn">
                            <i class="fas fa-arrow-circle-left"></i></button></a>
                        <p class="navigation-text">Go back</p>
                    </div>
                </div>
                <h4>Manage 'Types'<i class="fas fa-arrow-right fa-sm"></i></h4>
                <!-- Add new type -->
                <div class="row place-center">
                    <a href="{{ url_for('add_type') }}" type="button" class="col offset-s4 s4 btn-small custom-btn">
                        <i class="fas fa-pencil-alt"></i> Add new type
                    </a>
                </div>
                {% for type in types %}
                <div class="col s12 m6 l4">
                    <div class="card admin-card">
                        <div class="card-image">
                            <img src="{{ type.type_image }}">
                        </div>
                        <div class="card-content">
                            <span class="card-title center-align">
                                <h5>{{ type.type_name }}</h5>
                            </span>
                        </div>
                        <!-- Button for admin user to select to edit type -->
                        <div class="row place-center">
                            <a href="{{ url_for('edit_type', type_id=type._id) }}" type="button" class="col s8 offset-s2 btn-small custom-btn">
                                <i class="fas fa-edit"></i> Edit
                            </a>
                        </div>
                        <!-- Button for admin user to select to delete type (modal appears for user to confirm choice)-->
                        <div class="row place-center">
                            <a href="#delete-modal-{{ type._id }}" type="button" class="col offset-s2 s8 btn-small custom-btn modal-trigger">
                                <i class="fas fa-trash-alt"></i> Delete
                            </a>
                        </div>
                    </div>
                </div>
                <!-- Modal associated with delete function -->
                <div id="delete-modal-{{ type._id }}" class="modal">
                    <div class="modal-content">
                        <h4>
                            <i class="fas fa-exclamation-triangle"></i> 
                            Please be aware; some recipes may be associated with this type and so may not be fully discoverable if this type is deleted.</br>
                            Are you certain you want to delete? 
                        </h4>
                    </div>
                    <div class="col s12 m6 offset-m3">
                        <div class="modal-footer">
                            <a href="#!" class="col offset-s2 s8 btn-small custom-btn standard-btn modal-btn modal-close">
                                <i class="fas fa-times-circle"></i> Cancel</a>
                            <a href="{{ url_for('delete_type', type_id=type._id) }}" class="col offset-s2 s8 btn-small custom-btn standard-btn modal-btn">
                                <i class="fas fa-check-circle"></i> Yes</a>
                        </div>
                    </div>
                </div>

                {% endfor %}
            </div>
        </div>
    </div>
</div>


{% endblock %}