{% extends "base.html" %}
{% block content %}

<!-- Displays the current 'categories' and allows the admin user to select to add a new category, and edit and delete existing -->
<div class="row">
    <div class="col s12 m10 offset-m1">
        <div id="card-panel-clear">
            <!-- Navigation button & information -->
            <div class="row">
                <div class="col" id="nav-guide">
                    <div id="nav-btn">
                        <a href="{{ url_for('admin_functions', username=session['user']) }}" class="btn-small custom-btn rounded-btn">
                            <i class="fas fa-arrow-circle-left"></i></a>
                        <p class="nav-text">Back to admin</p>
                    </div>
                    <div id="nav-location">
                        <div id="vert-line-nav"></div>
                        <h4><h4>Manage Categories<i class="fas fa-arrow-right fa-sm"></i></h4></h4>
                    </div>
                </div>
            </div>  
            <!-- Add new category button -->
            <div class="row place-center">
                <a href="{{ url_for('add_category') }}" class="col s10 m6 offset-s1 offset-m3 btn-small custom-btn">
                    <i class="fas fa-pencil-alt"></i> Add new category
                </a>
            </div>
            <!-- Display of current categories in cards -->
            {% for category in categories %}
            <div class="col s12 m6 l4">
                <div class="card admin-card">
                    <div class="card-content">
                        <div class="card-title center-align">
                            <h5>{{ category.category_name }}</h5>
                        </div>
                    </div>
                    <!-- Button for admin user to select to edit category -->
                    <div class="row place-center">
                        <a href="{{ url_for('edit_category', category_id=category._id) }}" class="col s8 offset-s2 btn-small custom-btn">
                            <i class="fas fa-edit"></i> Edit
                        </a>
                    </div>
                    <!-- Button for admin user to select to delete category (modal appears for user to confirm choice)-->
                    <div class="row place-center">
                        <a href="#delete-modal-{{ category._id }}" class="col offset-s2 s8 btn-small custom-btn modal-trigger">
                            <i class="fas fa-trash-alt"></i> Delete
                        </a>
                    </div>
                </div>
            </div>
            <!-- Modal associated with delete function -->
            <div id="delete-modal-{{ category._id }}" class="modal">
                <div class="modal-content">
                    <h4>
                        <i class="fas fa-exclamation-triangle"></i> 
                        Please be aware; some recipes may be associated with this category and so may not be fully discoverable if this category is deleted.</br>
                        Are you certain you want to delete? 
                    </h4>
                </div>
                <div class="col s12 m6 offset-m3">
                    <form class="modal-footer" method="POST" action="{{ url_for('delete_category', category_id=category._id) }}">
                        <a href="#!" class="col offset-s2 s8 btn-small custom-btn modal-btn modal-close">
                            <i class="fas fa-times-circle"></i> Cancel</a>
                        <button type="submit" class="col offset-s2 s8 btn-small custom-btn modal-btn">
                            <i class="fas fa-check-circle"></i> Yes</a>
                    </form>
                </div>
            </div>
            {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock %}