{% extends "base.html" %}

{% block styles %}
<script src="https://cdn.jsdelivr.net/npm/emailjs-com@2/dist/email.min.js"></script>
<script>
   (function(){
      emailjs.init("user_pewCc4z8rRBLkjAeE4KTQ");
   })();
</script>
{% endblock %}

{% block content %}

<div class="row">
    <form class="col s12 m10 offset-m1" onsubmit="return sendMail(this);" method="POST">
        <div class="card-panel top-card">
            <header id="card-header" class="center-align">
                <h2 class="center-align">Contact us</h2>
                <h6>If you have any feedback, questions or suggestions, then we would be more than happy to hear 
                    from you.</h6>
                <h6>Please fill out the form below and we will respond promptly.</h6>
            </header>
            <!-- First Name input -->
            <div class="row">
                <div class="col s12 m10 offset-m1">
                    <div class="input-field col s12">
                        <i class="fas fa-signature prefix icon-style"></i>
                        <input type="text" id="name" name="name" required>
                        <label for="name">Name</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s12 m10 offset-m1">
                    <div class="input-field col s12">
                        <i class="fas fa-at prefix icon-style"></i>
                        <input type="email" id="email" name="email" required>
                        <label for="email">Email address</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s12 m10 offset-m1">
                    <div class="input-field col s12">
                        <textarea id="feedback" name="feedback" class="materialize-textarea" required></textarea>
                        <label for="feedback">Your message</label>
                    </div>
                </div>
            </div>
            <!-- Submit button to register -->
            <div class="row place-center">
                <button type="submit" class="col s6 m4 btn-small offset-s3 offset-m4 custom-btn">
                    Send <i class="far fa-paper-plane"></i>
                </button>
            </div>
        </div>
    </form>
</div>

{% endblock %}
{% block scripts %}

<script src="{{ url_for('static', filename='js/send_email_script.js') }}"></script>

{% endblock %}
