{% extends "base.html" %}
{% block content %}

<!-- Navigation button & information -->
<div class="row">
    <div class="col col s12 m10 offset-m1" id="nav-guide">
        <div id="nav-btn">
            <a href="{{ url_for('profile', username=session['user']) }}" class="btn-small custom-btn rounded-btn">
                <i class="fas fa-arrow-circle-left"></i></a>
            <p class="nav-text">Go back</p>
        </div>
    </div>
</div>
<!-- Edit password form -->
<div class="row">
    <form class="col s12 m10 offset-m1" method="POST" action="{{ url_for('edit_password', username=session['user']) }}">
        <div class="card-panel" id="top-card">
            <header id="card-header">
                <h2 class="center-align">Update password</h2>
            </header>
            <!-- New password input -->
            <div class="row">
                <div class="col s12">
                    <div class="input-field col s12">
                        <i class="fas fa-user-lock prefix icon-style"></i>
                        <input id="password" name="password" type="password" class="validate"
                            pattern="^[a-zA-Z0-9]{5,20}$" required>
                        <label for="password">New password (min 5 characters, max 20.  Alphanumeric only)</label>
                    </div>
                </div>
            </div>
            <!-- Confirm new password input -->
            <div class="row">
                <div class="col s12">
                    <div class="input-field col s12">
                        <i class="fas fa-user-lock prefix icon-style"></i>
                        <input id="confirm-password" name="password" type="password" class="validate"
                            pattern="^[a-zA-Z0-9]{5,15}$" required>
                        <label for="password">Confirm new password</label>
                    </div>
                </div>
            </div>
            <!-- message stating whether passwords match or not displayed here -->
            <div id="password-message"></div>
            <div class="row place-center">
                <!-- Submit button to update password -->
                <button type="submit" id="submit-button"  class="col s6 m4 btn-small offset-s3 offset-m4 custom-btn">
                    Update <i class="fas fa-cloud-upload-alt"></i>
                </button>
                <!-- Cancel button to return to profile page -->
                <button href="{{ url_for('profile', username=session['user']) }}" class="col s6 m4 btn-small offset-s3 offset-m4 custom-btn">
                    Cancel</button>
            </div>
        </div>
    </form>
</div>

{% endblock %}
{% block scripts %}

<script src="{{ url_for('static', filename='js/password_check_script.js') }}"></script>

{% endblock %}