{% extends "base.html" %}
{% block content %}

<!-- Navigation button & information -->
<div class="row">
    <div class="col col s12 m10 offset-m1 nav-guide">
        <div class="nav-btn">
            <a href="{{ url_for('profile', username=session['user']) }}" class="btn-small custom-btn rounded-btn">
                <i class="fas fa-arrow-circle-left"></i></a>
            <p class="nav-text">Go back</p>
        </div>
    </div>
</div>
<!-- Edit profile form -->
<div class="row">
    <form class="col s12 m10 offset-m1" method="POST" action="{{ url_for('edit_profile', username=session['user']) }}">
        <div class="card-panel top-card">
            <header class="card-header">
                <h2 class="center-align">Profile Details</h2>
                <p class="center-align">To update any details below, click in the input fields and enter the new details.</p>
            </header>
            <div class="row">
                <!-- First Name input -->
                <div class="col s12 m6">
                    <div class="input-field col s12">
                        <input id="fname" name="fname" value="{{ current_user.fname|capitalize }}" type="text" 
                        class="validate" pattern="^[a-zA-Z]{0,25}$" required>
                        <label for="fname">First Name</label>
                    </div>
                </div>
                <!-- Last Name input -->
                <div class="col s12 m6">
                    <div class="input-field col s12">
                        <input id="lname" name="lname" value="{{ current_user.lname|capitalize }}" type="text" 
                            class="validate" pattern="^[a-zA-Z]{0,25}$" required>
                        <label for="lname">Last Name</label>
                    </div>
                </div>
            </div>
            <!-- Email input -->
            <div class="row">
                <div class="col s12">
                    <div class="input-field col s12">
                        <i class="fas fa-at prefix icon-style"></i>
                        <input id="email" name="email" value="{{ current_user.email }}" type="email" class="validate"
                            pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" required>
                        <label for="email">Email</label>
                    </div>
                </div>
            </div>
            <!-- Username input -->
            <div class="row">
                <div class="col s12">
                    <div class="input-field col s12">
                        <i class="fas fa-user-plus prefix icon-style"></i>
                        <input id="username" name="username" value="{{ current_user.username }}" type="text" class="validate"
                            pattern="^[a-zA-Z0-9]{5,15}$" required>
                        <label for="username">Username</label>
                    </div>
                </div>
            </div>
            <!-- Submit button to update profile -->
            <div class="row place-center">
                <button type="submit" class="col s6 m4 btn-small offset-s3 offset-m4 custom-btn">
                    Update <i class="fas fa-cloud-upload-alt"></i>
                </button>
            </div>
        </div>
    </form>
</div>

{% endblock %}