{% extends "base.html" %}
{% block content %}

<section class="row">
    <form class="col s12 m10 offset-m1" method="POST" action="{{ url_for('edit_recipe', recipe_id=recipe._id) }}">
        <div class="card-panel top-card">
            <header>
                <h2 class="center-align">Edit Recipe</h2>
            </header>
            <!-- Recipe title input -->
            <div class="row">
                <div class="col s12">
                    <div class="input-field col s12">
                        <i class="fas fa-pencil-alt prefix icon-style"></i>
                        <input id="recipe-title" name="recipe-title" value="{{ recipe.recipe_title }}"
                        type="text" class="validate" pattern="^([A-z0-9\s]){5,40}$" required>
                        <label for="recipe-title">Recipe Title</label>
                    </div>
                </div>
            </div>
            <!-- Recipe Type input -->
            <div class="row">
                <div class="col s12">
                    <div class="input-field col s12">
                        <i class="fas fa-folder-open prefix icon-style"></i>
                        <select id="recipe-type" name="recipe-type" class="validate" required>
                            {% if recipe.type == "unclassified" %}
                            <option value="" disabled selected>Select Type</option>
                                {% for type in types %}
                                <option value="{{ type._id }}">{{ type.type_name|capitalize}}</option>
                                {% endfor %}
                            {% else %}
                            <option value="" disabled>Select Type</option>
                                {% for type in types %}
                                    {% if type._id|string() == recipe.type %}
                                        <option value="{{ type._id }}" selected>{{ type.type_name|capitalize }}</option>
                                    {% else %}
                                        <option value="{{ type._id }}">{{ type.type_name|capitalize }}</option>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        </select>
                        <label for="recipe-type">Recipe Type</label>
                    </div> 
                </div>
            </div>
            <!-- Recipe Category input 1 -->
            <div class="row">
                <div class="col s12">
                    <div class="input-field col s12">
                        <i class="far fa-folder-open prefix icon-style"></i>
                        <select id="recipe-category" name="recipe-category" class="validate" required>
                            <option value="" disabled>Select Category</option>
                            {% for category in categories1 %}
                                {% if category._id|string() == recipe.category[0] %}
                                    <option value="{{ category._id }}" selected>{{ category.category_name|capitalize }}</option>
                                {% else %}
                                    <option value="{{ category._id }}">{{ category.category_name|capitalize }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                        <label for="recipe-category">Recipe Category1</label>
                    </div>
                </div>
            </div>
            <!-- Recipe Category input 2 -->
            <div class="row">
                <div class="col s12">
                    <div class="input-field col s11">
                        <i class="far fa-folder-open prefix icon-style"></i>
                        <select id="recipe-category" name="recipe-category" class="validate">
                            {% if category_list_length >= 2 %}
                                <option value="" disabled>Select Category</option>
                            {% else %}
                                <option value="" disabled selected>Select Category</option>
                            {% endif %}
                            {% if category_list_length >= 2 %}
                                {% for category in categories2 %}
                                    {% if category._id|string() == recipe.category[1] %}
                                        <option value="{{ category._id }}" selected>{{ category.category_name|capitalize }}</option>
                                    {% else %}
                                        <option value="{{ category._id }}">{{ category.category_name|capitalize }}</option>
                                    {% endif %}
                                {% endfor %}
                            {% else %}
                                {% for category in categories2 %}
                                    <option value="{{ category._id }}">{{ category.category_name|capitalize }}</option>
                                {% endfor %}
                            {% endif %}
                        </select>
                        <label for="recipe-category">Recipe Category2</label>
                    </div>
                    <div class="col s1">
                        <button type="button" class="icon-style delete-existing"><i class="fas fa-trash-alt"></i></button>
                    </div>
                </div>
            </div>
            <!-- Recipe Category input 3 -->
            <div class="row">
                <div class="col s12">
                    <div class="input-field col s11">
                        <i class="far fa-folder-open prefix icon-style"></i>
                        <select id="recipe-category" name="recipe-category" class="validate">
                            {% if category_list_length >= 3 %}
                                <option value="" disabled>Select Category</option>
                            {% else %}
                                <option value="" disabled selected>Select Category</option>
                            {% endif %}
                            {% if category_list_length >= 3 %}
                                {% for category in categories3 %}
                                    {% if category._id|string() == recipe.category[2] %}
                                        <option value="{{ category._id }}" selected>{{ category.category_name|capitalize }}</option>
                                    {% else %}
                                        <option value="{{ category._id }}">{{ category.category_name|capitalize }}</option>
                                    {% endif %}
                                {% endfor %}
                            {% else %}
                                {% for category in categories3 %}
                                    <option value="{{ category._id }}">{{ category.category_name|capitalize }}</option>
                                {% endfor %}
                            {% endif %}
                        </select>
                        <label for="recipe-category">Recipe Category3</label>
                    </div>
                    <div class="col s1">
                        <button type="button" class="icon-style delete-existing"><i class="fas fa-trash-alt"></i></button>
                    </div>
                </div>
            </div>
            <!-- Recipe Description -->
            <div class="row">
                <div class="col s12">
                    <div class="input-field col s12">
                        <i class="fas fa-align-left prefix icon-style"></i>
                        <textarea id="recipe-description" name="recipe-description" minlength="5" maxlength="175" 
                            class="materialize-textarea validate" required>
                            {{- recipe.description -}}
                        </textarea>
                        <label for="recipe-description">Add a brief description</label>
                    </div>
                </div>
            </div>
            <!-- Recipe preparation time -->
            <div class="row">
                <div class="col s12">
                    <div class="input-field col s12">
                        <i class="fas fa-clock prefix icon-style"></i>
                        <input id="recipe-preptime" name="recipe-preptime" value="{{ recipe.prep_time }}" 
                            type="number" step="5" class="validate" required>
                        <label for="recipe-preptime">Preparation time (minutes)</label>
                    </div>
                </div>
            </div>
            <!-- Recipe cooking time -->
            <div class="row">
                <div class="col s12">
                    <div class="input-field col s12">
                        <i class="fas fa-clock prefix icon-style"></i>
                        <input id="recipe-cooktime" name="recipe-cooktime" value="{{ recipe.cook_time }}" 
                            type="number" step="5" class="validate" required>
                        <label for="recipe-cooktime">Cooking time (minutes)</label>
                    </div>
                </div>
            </div>
            <!-- How much the recipe serves -->
            <div class="row">
                <div class="col s12">
                    <div class="input-field col s12">
                        <i class="fas fa-users prefix icon-style"></i>
                        <input id="recipe-serves" name="recipe-serves" value="{{ recipe.serves }}"
                            type="number" step="1" class="validate" required>
                        <label for="recipe-cooktime">Serves</label>
                    </div>
                </div>
            </div>
            <!-- Add 1st Ingredient.  Any additional are dealt with through a JS function -->
            <div class="row">
                <div class="col s12 m10 offset-m1 center-align form-subheading">
                    <h5>
                    Ingredients list
                    </h5>
                </div>
            </div>
            {% for ingredient in recipe.ingredients %}
                <div class="row">
                    <div class="col s12">
                        <div class="input-field col s11">
                            <i class="fas fa-hand-point-right prefix icon-style"></i>
                            <input id="ingredient" name="ingredient" value="{{ ingredient }}" type="text" 
                                class="validate" required>
                            <label for="ingredient">Ingredient</label>
                        </div>
                        <div class="col s1">
                            <button type="button" class="icon-style delete-existing"><i class="fas fa-trash-alt"></i></button>
                        </div>
                    </div>
                </div>
            {% endfor %}
            <div id="additional-ingredients-here"></div>
            <!-- Add Ingredient button -->
            <div class="row">
                <div class="col s12 center-align">
                    <button type="button" class="btn-small custom-btn" id="add-ingredient">Add Ingredient</button>
                </div>
            </div>
            <!-- Add 1st Method Instruction.  Any additional are dealt with through a JS function -->
            <div class="row">
                <div class="col s12 m10 offset-m1 center-align form-subheading">
                    <h5>
                    Method
                    </h5>
                </div>
            </div>
            {% for instruction in recipe.instructions %}
            <div class="row">
                <div class="col s12">
                    <div class="input-field col s11">
                        <i class="fas fa-thumbs-up prefix icon-style"></i>
                        <input id="instruction" name="instruction" value="{{ instruction }}" type="text" 
                            class="validate" required>
                        <label for="instruction">Step</label>
                    </div>
                    <div class="col s1">
                        <button type="button" class="icon-style delete-existing"><i class="fas fa-trash-alt"></i></button>
                    </div>
                </div>
            </div>
            {% endfor %}
            <div id="additional-instructions-here"></div>
            <!-- Add Instruction button -->
            <div class="row">
                <div class="col s12 center-align">
                    <button type="button" class="btn-small custom-btn" id="add-instruction">Add Instruction</button>
                </div>
            </div>
            <!-- Add image URL -->
            <div class="row">
                <div class="col s12">
                    <div class="input-field col s12">
                        <i class="fas fa-camera prefix icon-style"></i>
                        <input id="recipe_image" name="recipe_image" value="{{ recipe.recipe_image }}"
                            type="text" class="validate" required>
                        <label for="step">Add image URL</label>
                    </div>
                </div>
            </div>
            <!-- Submit button -->
            <div class="row place-center">
                <button type="submit" class="col s6 m4 btn-small offset-s3 offset-m4 custom-btn">
                    Upload Edit <i class="fas fa-cloud-upload-alt"></i>
                </button>
            </div>
            <!-- Cancel button -->
            <div class="row place-center">
                <a href="{{ url_for('user_recipes', username=session['user']) }}"
                    type="button" class="col s6 m4 btn-small offset-s3 offset-m4 custom-btn">
                    Cancel <i class="fas fa-times-circle"></i>
                </a>
            </div>
        </div>
    </form>
</section>

{% endblock %}

{% block scripts %}

<script src="{{ url_for('static', filename='js/edit_recipe_script.js') }}"></script>

{% endblock %}