{% extends "base.html" %}
{% block content %}

<!-- Category search panel; displays the current categories as a drop down list -->
<section class="row top-card">
    <div class="col s12 m10 offset-m1 card-panel">
        <form action="{{ url_for('recipe_display_category', type_id=type_id, type=type) }}" method="POST" class="col s12 m8 offset-m2">
            <div class="row center-align">
                <h5>Refine your search by category</h5>
                <div class="input-field col s12" id="cat-search-field">
                    <select id="cat-search" name="cat-search" class="validate">
                        <option value="" disabled selected>Select category</option>
                        {% for category in categories %}
                        <option value="{{ category._id }}">{{ category.category_name|capitalize }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <!-- Submit button -->
            <div class="row center-align">
                <div class="col s12">
                    <button type="submit" id="category-search-btn" class="btn-small custom-btn">
                        <i class="fas fa-search left"></i>Search
                    </button>
                </div>
            </div>
        </form>
    </div>
</section>

<!-- Displays available recipes based on a type selection -->
<div class="col s12 m10 offset-m1">
    <div class="row">
        <div class="col s12 m10 offset-m1">
            <div class="card-panel-clear">
                <!-- Navigation information -->
                <div class="row">
                    <div class="col nav-guide">
                        <div class="nav-btn">
                            <a href="{{ url_for('home') }}"><button class="btn-small custom-btn rounded-btn">
                                <i class="fas fa-arrow-circle-left"></i></button></a>
                            <p class="nav-text">Back to Home</p>
                        </div>
                        <div class="nav-location">
                            <div class="vert-line-nav"></div>
                            <h4>{{ type }}s:</h4>
                        </div>
                    </div>
                </div>
                <!-- Recipe Card display -->
                {% for recipe in recipes %}
                <section class="row">
                    <div class="col s12">
                        <div class="card recipe-results-card">
                            <a href="{{ url_for('view_recipe', recipe_id=recipe._id, navigation=navigation) }}">
                                <div class="row">
                                    <div class="col s12 l6">
                                        <div class="card-image">
                                            <img src="{{ recipe.recipe_image }}" alt="Picture of completed recipe item">
                                        </div>
                                    </div>
                                    <div class="col s12 l6">
                                        <header class="card-content">
                                            <span class="card-title">
                                                <h5>{{ recipe.recipe_title }}</h5>
                                            </span>
                                            <p>{{ recipe.description }}</p>
                                        </header>
                                    </div>
                                    <div class="col s12 l6">
                                        <div class="card-content">
                                            <div class="display-flex">
                                                <div id="rating">
                                                    {%  if recipe.rating == 0 %}
                                                        <p>No ratings yet</p>
                                                    {% elif recipe.rating == 1 %}
                                                        <i class="fas fa-star fa-lg star-outline star-filled"></i>
                                                        <i class="fas fa-star fa-lg star-outline star-empty"></i>
                                                        <i class="fas fa-star fa-lg star-outline star-empty"></i>
                                                        <i class="fas fa-star fa-lg star-outline star-empty"></i>
                                                        <i class="fas fa-star fa-lg star-outline star-empty"></i>
                                                    {% elif recipe.rating == 2 %}
                                                        <i class="fas fa-star fa-lg star-outline star-filled"></i>
                                                        <i class="fas fa-star fa-lg star-outline star-filled"></i>
                                                        <i class="fas fa-star fa-lg star-outline star-empty"></i>
                                                        <i class="fas fa-star fa-2x star-outline star-empty"></i>
                                                        <i class="fas fa-star fa-2x star-outline star-empty"></i>
                                                    {% elif recipe.rating == 3 %}
                                                        <i class="fas fa-star fa-2x star-outline star-filled"></i>
                                                        <i class="fas fa-star fa-2x star-outline star-filled"></i>
                                                        <i class="fas fa-star fa-2x star-outline star-filled"></i>
                                                        <i class="fas fa-star fa-2x star-outline star-empty"></i>
                                                        <i class="fas fa-star fa-2x star-outline star-empty"></i>
                                                    {% elif recipe.rating == 4 %}
                                                        <i class="fas fa-star fa-lg star-outline star-filled"></i>
                                                        <i class="fas fa-star fa-lg star-outline star-filled"></i>
                                                        <i class="fas fa-star fa-lg star-outline star-filled"></i>
                                                        <i class="fas fa-star fa-lg star-outline star-filled"></i>
                                                        <i class="fas fa-star fa-lg star-outline star-empty"></i>
                                                    {% else %}
                                                        <i class="fas fa-star fa-2x star-outline star-filled"></i>
                                                        <i class="fas fa-star fa-2x star-outline star-filled"></i>
                                                        <i class="fas fa-star fa-2x star-outline star-filled"></i>
                                                        <i class="fas fa-star fa-2x star-outline star-filled"></i>
                                                        <i class="fas fa-star fa-2x star-outline star-filled"></i>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col s12">
                                            <div class="recipe-results-details">
                                                <h6><i class="fas fa-clock prefix icon-style"></i> Prep time: {{ recipe.prep_time }} mins</h6>
                                                <h6><i class="fas fa-clock prefix icon-style"></i> Cooking time: {{ recipe.cook_time }} mins</h6>
                                                <h6><i class="fas fa-users prefix icon-style"></i> Serves: {{ recipe.serves }}</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </section>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock %}