{% extends "base.html" %}
{% block content %}

<!-- Displays recipes user has added to their favourites and allows the user to select to view these -->
<div class="row">
    <div class="col s12 m10 offset-m1">
        <div class="card-panel-clear">
            <!-- Navigation button & information -->
            <div class="row">
                <div class="col nav-guide">
                    <div class="nav-btn">
                        <a href="{{ url_for('profile', username=session['user']) }}"><button class="btn-small custom-btn rounded-btn">
                            <i class="fas fa-arrow-circle-left"></i></button></a>
                        <p class="nav-text">Go back</p>
                    </div>
                    <div class="nav-location">
                        <div class="vert-line-nav"></div>
                        <h4>{{ username|capitalize }}'s favourites <i class="fas fa-arrow-right fa-sm"></i></h4>
                    </div>
                </div>
            </div>
            <!-- Favourite Card display -->
            <div class="row">
                {% for favourite in favourites %}
                <div class="col s12 m6 l4">
                    <div class="card admin-card">
                        <div class="card-content">
                            <span class="card-title center-align">
                                <h5>{{ favourite.recipe_title }}</h5>
                            </span>
                        </div>
                        <!-- Button for user to select to view recipe -->
                        <div class="row place-center">
                            <a href="{{ url_for('view_recipe', recipe_id=favourite.recipe_id, navigation=navigation) }}" type="button" 
                                class="col s8 offset-s2 btn-small custom-btn"><i class="far fa-hand-point-up"></i> View
                            </a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock %}