{% extends "base.html" %}
{% block content %}

<!-- Displays users recipes and allows the user to select to view, edit and delete these -->
<div class="row">
    <div class="col s12 m10 offset-m1">
        <div class="card-panel-clear">
            <div class="row">
                <!-- Navigation information -->
                <div class="col nav-guide">
                    <div class="nav-btn">
                        <a href="{{ url_for('profile', username=session['user']) }}"><button class="btn-small custom-btn rounded-btn">
                            <i class="fas fa-arrow-circle-left"></i></button></a>
                        <p class="nav-text">Go back</p>
                    </div>
                    <div class="nav-location">
                        <div class="vert-line-nav"></div>
                        <h4>{{ username|capitalize }}'s recipes <i class="fas fa-arrow-right fa-sm"></i></h4>
                    </div>
                </div>
                <!-- Recipe Card display -->
                {% for recipe in recipes %}
                <div class="col s12">
                    <div class="card recipe-results-card">
                        <a href="{{ url_for('view_recipe', recipe_id=recipe._id, navigation=navigation) }}">
                            <div class="row">
                                <div class="col s12 l6">
                                    <div class="card-image">
                                        <img src="{{ recipe.recipe_image }}">
                                    </div>
                                </div>
                                <div class="col s12 l6">
                                    <div class="card-content">
                                        <span class="card-title">
                                            <h4>{{ recipe.recipe_title }}</h4>
                                        </span>
                                        <!-- Button for user to select to edit recipe -->
                                        <a href="{{ url_for('edit_recipe', recipe_id=recipe._id) }}" type="button" class="btn-small custom-btn">
                                            <i class="fas fa-edit"></i> Edit
                                        </a>
                                        <!-- Button for user to select to delete recipe (modal appears for user to confirm choice)-->
                                        <a href="#delete-modal-{{ recipe._id }}" type="button" class="btn-small custom-btn modal-trigger">
                                            <i class="fas fa-trash-alt"></i> Delete
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                    <!-- Modal associated with delete function -->
                <div id="delete-modal-{{ recipe._id }}" class="modal">
                    <div class="modal-content">
                        <h4>Are you certain you want to delete this recipe?</h4>
                    </div>
                    <div class="col s12 m6 offset-m3">
                        <form class="modal-footer" method="POST" action="{{ url_for('delete_recipe', recipe_id=recipe._id) }}">
                            <a href="#!" class="col offset-s2 s8 btn-small custom-btn modal-btn modal-close">
                                <i class="fas fa-times-circle"></i> Cancel</a>
                            <button type="submit" class="col offset-s2 s8 btn-small custom-btn modal-btn">
                                <i class="fas fa-check-circle"></i> Yes</button>
                        </form>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

               
{% endblock %}