{% extends "base.html" %}
{% block content %}

<!-- Displays users recipes and allows the user to select to view, edit and delete these -->
<div class="col s12 m10 offset-m1">
    <div class="row">
        <div class="col s12 m10 offset-m1">
            <div id="card-panel-clear">
                <!-- Navigation button & information -->
                <div class="row">
                    <div class="col" id="nav-guide">
                        <div id="nav-btn">
                            <a href="{{ url_for('profile', username=session['user']) }}" class="btn-small custom-btn rounded-btn">
                                <i class="fas fa-arrow-circle-left"></i></a>
                            <p class="nav-text">Go back</p>
                        </div>
                        <div id="nav-location">
                            <div id="vert-line-nav"></div>
                            <h4>{{ username|capitalize }}'s recipes <i class="fas fa-arrow-right fa-sm"></i></h4>
                        </div>
                    </div>
                </div>
                <!-- Recipe Card display -->
                {% for recipe in recipes %}
                <div class="row">
                    <div class="col s12">
                        <div class="card recipe-results-card">
                            <a href="{{ url_for('view_recipe', recipe_id=recipe._id, navigation=navigation) }}">
                                <div class="row">
                                    <div class="col s12 l6">
                                        <div class="card-image">
                                            <img src="{{ recipe.recipe_image }}" alt="Picture of completed recipe item">
                                        </div>
                                    </div>
                                    <div class="col s12 l6">
                                        <header class="card-content">
                                            <div class="card-title">
                                                <h4>{{ recipe.recipe_title }}</h4>
                                            </div>
                                            <!-- Button for user to select to edit recipe -->
                                            <a href="{{ url_for('edit_recipe', recipe_id=recipe._id) }}" class="btn-small custom-btn">
                                                <i class="fas fa-edit"></i> Edit
                                            </a>
                                            <!-- Button for user to select to delete recipe (modal appears for user to confirm choice)-->
                                            <a href="#delete-modal-{{ recipe._id }}" class="btn-small custom-btn modal-trigger">
                                                <i class="fas fa-trash-alt"></i> Delete
                                            </a>
                                        </header>
                                        <!-- below displays for any unclassified recipes as a result of a type being deleted -->
                                        {% if recipe.type == "unclassified" %}
                                        <div class="card-content">
                                            <p class="unclassified-text"><i class="fas fa-exclamation-triangle"></i> 
                                            Your recipe does not have a 'type' assigned.  This is likely due to admin activity.  
                                            Please edit and re-assign a suitable type so that it is fully discoverable.</p>
                                        </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- Modal associated with delete function -->
                <div id="delete-modal-{{ recipe._id }}" class="modal">
                    <div class="modal-content center-align">
                        <h4>Are you certain you want to delete this recipe?</h4>
                    </div>
                    <form method="POST" action="{{ url_for('delete_recipe', recipe_id=recipe._id) }}">
                        <div class="row">
                            <button type="submit" class="col s8 m6 l4 btn-small offset-s2 offset-m3 offset-l4 custom-btn">
                                <i class="fas fa-check-circle"></i> Yes
                            </button>
                        </div>
                        <div class="row">
                            <a href="#!" class="col s8 m6 l4 btn-small offset-s2 offset-m3 offset-l4 custom-btn modal-close">
                                <i class="fas fa-times-circle"></i> Cancel
                            </a>
                        </div>
                    </form>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
               
{% endblock %}