{% extends "base.html" %}
{% block content %}

<!-- Displays available recipes based on a category selection -->
<div class="col s12 m10 offset-m1">
    <div class="row">
        <div class="col s12 m10 offset-m1">
            <div class="card card-panel-clear">
                <h4>{{ category_name }}</h4>
                <div class="row">
                    {% for recipe in recipes %}
                        <div class="col s12">
                            <div class="card recipe-results-card">
                                <a href="{{ url_for('view_recipe', recipe_id=recipe._id) }}">
                                    <div class="row">
                                        <div class="col s12 l6">
                                            <div class="card-image">
                                                <img src="{{ recipe.recipe_image }}">
                                            </div>
                                        </div>
                                        <div class="col s12 l6">
                                            <div class="card-content">
                                                <span class="card-title">
                                                    <h4>{{ recipe.recipe_title }}</h4>
                                                </span>
                                                <p>{{ recipe.description }}</p>
                                            </div>
                                        </div>
                                        <div class="col s12 l6">
                                            <div class="card-content">
                                                <div class="display-flex">
                                                    <div id="rating">
                                                        {%  if recipe.rating == 0 %}
                                                            <p>No ratings yet</p>
                                                        {% elif recipe.rating == 1 %}
                                                            <i class="fas fa-star fa-lg star-outline star-filled"></i>
                                                            <i class="fas fa-star fa-lg star-outline star-empty"></i>
                                                            <i class="fas fa-star fa-lg star-outline star-empty"></i>
                                                            <i class="fas fa-star fa-lg star-outline star-empty"></i>
                                                            <i class="fas fa-star fa-lg star-outline star-empty"></i>
                                                        {% elif recipe.rating == 2 %}
                                                            <i class="fas fa-star fa-lg star-outline star-filled"></i>
                                                            <i class="fas fa-star fa-lg star-outline star-filled"></i>
                                                            <i class="fas fa-star fa-lg star-outline star-empty"></i>
                                                            <i class="fas fa-star fa-2x star-outline star-empty"></i>
                                                            <i class="fas fa-star fa-2x star-outline star-empty"></i>
                                                        {% elif recipe.rating == 3 %}
                                                            <i class="fas fa-star fa-2x star-outline star-filled"></i>
                                                            <i class="fas fa-star fa-2x star-outline star-filled"></i>
                                                            <i class="fas fa-star fa-2x star-outline star-filled"></i>
                                                            <i class="fas fa-star fa-2x star-outline star-empty"></i>
                                                            <i class="fas fa-star fa-2x star-outline star-empty"></i>
                                                        {% elif recipe.rating == 4 %}
                                                            <i class="fas fa-star fa-lg star-outline star-filled"></i>
                                                            <i class="fas fa-star fa-lg star-outline star-filled"></i>
                                                            <i class="fas fa-star fa-lg star-outline star-filled"></i>
                                                            <i class="fas fa-star fa-lg star-outline star-filled"></i>
                                                            <i class="fas fa-star fa-lg star-outline star-empty"></i>
                                                        {% else %}
                                                            <i class="fas fa-star fa-2x star-outline star-filled"></i>
                                                            <i class="fas fa-star fa-2x star-outline star-filled"></i>
                                                            <i class="fas fa-star fa-2x star-outline star-filled"></i>
                                                            <i class="fas fa-star fa-2x star-outline star-filled"></i>
                                                            <i class="fas fa-star fa-2x star-outline star-filled"></i>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col s12">
                                                <div class="recipe-results-details">
                                                    <h6><i class="fas fa-clock prefix icon-style"></i> Prep time: {{ recipe.prep_time }} mins</h6>
                                                    <h6><i class="fas fa-clock prefix icon-style"></i> Cooking time: {{ recipe.cook_time }} mins</h6>
                                                    <h6><i class="fas fa-users prefix icon-style"></i> Serves: {{ recipe.serves }}</h6>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}