{% extends "base.html" %}
{% block content %}

<!-- Displays selected recipe -->
<div class="row">
    <div class="col s12 m10 offset-m1">
        <!-- Navigation button -->
        <div class="row">
            <div class="col display-flex">
                {% if navigation == '1' %}
                <a href="{{ url_for('recipe_display_type', type=type, type_id=type_id) }}"><button class="btn-small custom-btn rounded-btn">
                    <i class="fas fa-arrow-circle-left"></i></button></a>
                <p class="navigation-text">Back to {{ type }} recipes</p>
                {% elif navigation == '2' %}
                <button class="btn-small custom-btn rounded-btn" onclick="goBack()"><i class="fas fa-arrow-circle-left"></i></button>
                <p class="navigation-text">Back to category search</p>
                {% elif navigation == '3' %}
                <a href="{{ url_for('user_recipes', username=session['user']) }}"><button class="btn-small custom-btn rounded-btn">
                    <i class="fas fa-arrow-circle-left"></i></button></a>
                <p class="navigation-text">Back to your recipes</p>
                {% elif navigation == '4' %}
                <a href="{{ url_for('favourite_recipes', username=session['user']) }}"><button class="btn-small custom-btn rounded-btn">
                    <i class="fas fa-arrow-circle-left"></i></button></a>
                <p class="navigation-text">Back to favourites</p>
                {% elif navigation == '5' %}
                <button class="btn-small custom-btn rounded-btn" onclick="goBack()"><i class="fas fa-arrow-circle-left"></i></button>
                <p class="navigation-text">Back to search results</p>
                {% endif %}
            </div>
        </div>
        <!-- Displays recipe image and recipe information -->
        <div class="recipe-card top-card">
            <div class="row" id="recipe-card-top-details">
                <div class="col m12 l5">
                    <div>
                        <p><i class="fas fa-arrow-right"></i> {{ recipe_categories }}<p>
                        <h3>{{ recipe.recipe_title }}</h3>
                        <p>By {{ author_name }}</p>
                        <!-- 
                        Favourites section. If logged in; will check whether already favourited and respond accordingly.  Will not allow 
                        a favourite to be added if not logged in or registered and will direct user to do one of these 
                        -->
                        {% if session.user %}
                            {% if favourite %}
                                <form method="POST" action="{{ url_for('remove_favourite', recipe_id=recipe._id, user=session['user']) }}">
                                    <button type="submit" id="favourite-btn" class="tooltipped" data-position="right" data-tooltip="+ Added to favourites">
                                        <i class="fas fa-heart fa-2x icon-style"></i>
                                    </button>
                                </form>
                            {% else %}
                                <form method="POST" action="{{ url_for('add_favourite', recipe_id=recipe._id, user=session['user']) }}">
                                    <button type="submit" id="favourite-btn" class="tooltipped" data-position="right" data-tooltip="+ Add to favourites">
                                        <i class="far fa-heart fa-2x icon-style"></i>
                                    </button>
                                </form>
                            {% endif %}
                        {% else %}
                            <a type="button" id="favourite-btn" href="#refuse-modal" class="modal-trigger tooltipped" data-position="right" 
                                data-tooltip="+ Add to favourites"><i class="far fa-heart fa-2x icon-style"></i>
                            </a>
                        {% endif %}
                        <!-- Displays current rating and number of ratings -->
                        <div class="display-flex">
                            <div id="rating">
                                {%  if recipe.rating == 0 %}
                                    <p>No ratings yet</p>
                                {% elif recipe.rating == 1 %}
                                    <i class="fas fa-star fa-lg star-outline star-filled"></i>
                                    <i class="fas fa-star fa-lg star-outline star-empty"></i>
                                    <i class="fas fa-star fa-lg star-outline star-empty"></i>
                                    <i class="fas fa-star fa-lg star-outline star-empty"></i>
                                    <i class="fas fa-star fa-lg star-outline star-empty"></i>
                                {% elif recipe.rating == 2 %}
                                    <i class="fas fa-star fa-lg star-outline star-filled"></i>
                                    <i class="fas fa-star fa-lg star-outline star-filled"></i>
                                    <i class="fas fa-star fa-lg star-outline star-empty"></i>
                                    <i class="fas fa-star fa-2x star-outline star-empty"></i>
                                    <i class="fas fa-star fa-2x star-outline star-empty"></i>
                                {% elif recipe.rating == 3 %}
                                    <i class="fas fa-star fa-2x star-outline star-filled"></i>
                                    <i class="fas fa-star fa-2x star-outline star-filled"></i>
                                    <i class="fas fa-star fa-2x star-outline star-filled"></i>
                                    <i class="fas fa-star fa-2x star-outline star-empty"></i>
                                    <i class="fas fa-star fa-2x star-outline star-empty"></i>
                                {% elif recipe.rating == 4 %}
                                    <i class="fas fa-star fa-lg star-outline star-filled"></i>
                                    <i class="fas fa-star fa-lg star-outline star-filled"></i>
                                    <i class="fas fa-star fa-lg star-outline star-filled"></i>
                                    <i class="fas fa-star fa-lg star-outline star-filled"></i>
                                    <i class="fas fa-star fa-lg star-outline star-empty"></i>
                                {% else %}
                                    <i class="fas fa-star fa-2x star-outline star-filled"></i>
                                    <i class="fas fa-star fa-2x star-outline star-filled"></i>
                                    <i class="fas fa-star fa-2x star-outline star-filled"></i>
                                    <i class="fas fa-star fa-2x star-outline star-filled"></i>
                                    <i class="fas fa-star fa-2x star-outline star-filled"></i>
                                {% endif %}
                            </div>
                            <div id="number-ratings">
                                {% if number_ratings == 1 %}
                                    <p>{{ number_ratings }} rating</p>
                                {% elif number_ratings > 1 %}
                                    <p>{{ number_ratings }} ratings</p>
                                {% endif %}
                            </div>
                        </div>
                        <!-- Displays interactive elements for the user to leave and rating and/or a review.  Also displays number of reviews -->
                        <div class="display-flex">
                            <div>
                                <p id="rating-text">Leave rating</p>
                            </div>
                            <div class="vert-line"></div>
                            {% if session.user %}
                                {% if reviewed %}
                                    <div>
                                        <p href="#reviewed-modal" class="modal-trigger review-text">Reviewed</p>
                                    </div>
                                {% else %}
                                    <div>
                                        <p href="#review-modal" class="modal-trigger review-text">Leave review</p>
                                    </div>
                                {% endif %}
                            {% else %}
                                <div>
                                    <p href="#refuse-modal" class="modal-trigger review-text">Leave review</p>
                                </div>
                            {% endif %}
                            <div>
                                <a href="#review-section"><p class="review-text">({{ reviews_count }} reviews)</p></a>
                            </div>
                        </div>
                        <!-- Displays the feature to allow the user to rate the recipe out of five and submit this rating. initially hidden -->
                        <div id="rating-area">
                            <form class="display-flex" method="POST" action="{{ url_for('rate_recipe', recipe_id=recipe._id) }}">
                                <div id="star-panel">
                                    <input type="radio" class="radio_item" value="1" name="rating" id="radio1">
                                    <label class="label_item" for="radio1"><i id="star1" class=""></i></label>
                                    <input type="radio" class="radio_item" value="2" name="rating" id="radio2">
                                    <label class="label_item" for="radio2"><i id="star2" class=""></i></label>
                                    <input type="radio" class="radio_item" value="3" name="rating" id="radio3">
                                    <label class="label_item" for="radio3"><i id="star3" class=""></i></label>
                                    <input type="radio" class="radio_item" value="4" name="rating" id="radio4">
                                    <label class="label_item" for="radio4"><i id="star4" class=""></i></label>
                                    <input type="radio" class="radio_item" value="5" name="rating" id="radio5">
                                    <label class="label_item" for="radio5"><i id="star5" class=""></i></label>
                                </div>
                                <button type="submit" class="btn-small custom-btn rounded-btn" id="rating-submit-btn">
                                    Submit <i class="fas fa-arrow-circle-right"></i>
                                </button>
                            </form>
                        </div>
                    </div>
                    <div id="recipe-heading-details">
                        <h6><i class="fas fa-clock prefix icon-style"></i> Prep time: {{ recipe.prep_time }} mins</h6>
                        <h6><i class="fas fa-clock prefix icon-style"></i> Cooking time: {{ recipe.cook_time }} mins</h6>
                        <h6><i class="fas fa-users prefix icon-style"></i> Serves: {{ recipe.serves }}</h6>
                    </div>
                </div>
                <div class="col m12 l7">
                    <img class="responsive-img recipe-image" src="{{ recipe.recipe_image }}">
                </div>
            </div>
        </div>
        <!-- Recipe description display -->
        <div class="recipe-card" id="recipe-card-quote">
            <div class="row">
                <div class="col s12" id="recipe-quote">
                    <h6>
                        <i class="fas fa-quote-left fa-xs icon-style"></i> 
                        {{ recipe.description }}
                        <i class="fas fa-quote-right fa-xs icon-style"></i> 
                    </h6>
                </div>
            </div>
        </div>
        <!-- Ingredients display -->
        <div class="row">
            <div class="col s12 m5 l4">
                <div class="recipe-card" id="recipe-card-ingredients">
                    <div class="row">
                        <div class="col s12">
                            <h5>Ingredients</h5>
                            {% for ingredient in recipe.ingredients %}
                            <p class="recipe-detail">
                                <i class="fas fa-hand-point-right prefix icon-style"></i> {{ ingredient }}
                            </p>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <!-- Instructions display -->
            <div class="col s12 m7 l8">
                <div class="recipe-card" id="recipe-card-instructions">
                    <div class="row">
                        <div class="col s12">
                            <h5>Instructions</h5>
                            {% for instruction in recipe.instructions %}
                            <p class="recipe-detail">
                                <i class="fas fa-thumbs-up prefix icon-style"></i> {{ instruction }}
                            </p>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Reviews display -->
        <div class="row" id="review-section">
            <div class="col s12">
                <div class="recipe-card" id="recipe-card-instructions">
                    <div class="row">
                        <div class="col s12">
                            <h5 id="latest-reviews-title">Latest reviews</h5>
                            <h5 id="all-reviews-title">All reviews</h5>
                            {% for review in reviews %}
                            {% if loop.revindex < 4 %}
                            <div class="review-card">
                                <p class="recipe-detail"> <i class="fas fa-user-edit icon-style"></i>
                                    {{ review.username }} says:
                                </p>
                                <p class="recipe-detail">
                                    "{{ review.review }}"
                                </p>
                            </div>
                            {% endif %}
                            {% endfor %}
                            <div>
                                <p id="reveal-all-reviews">> See all reviews</p>
                            </div>
                            <div id="all-reviews">
                                {% for review in reviews %}
                                {% if loop.revindex > 3 %}
                                <div class="review-card">
                                    <p class="recipe-detail"> <i class="fas fa-user-edit icon-style"></i>
                                        {{ review.username }} says:
                                    </p>
                                    <p class="recipe-detail">
                                        "{{ review.review }}"
                                    </p>
                                </div>
                                {% endif %}
                                {% endfor %}
                            </div>
                            <div>
                                <p id="hide-all-reviews">> Close</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Modal associated with favourite function -->
<div id="refuse-modal" class="modal">
    <div class="modal-content">
        <h5>You need to be registered or logged in to use this feature.</h5>
    </div>
    <div class="col s12 m6 offset-m3">
        <div class="modal-footer">
            <a type="button" href="{{ url_for('login') }}" class="col offset-s2 s8 btn-small custom-btn standard-btn modal-btn modal-close">
                Login <i class="fas fa-sign-in-alt"></i></a>
            <a type="button" href="{{ url_for('register') }}" class="col offset-s2 s8 btn-small custom-btn standard-btn modal-btn modal-close">
                Register <i class="fas fa-sign-in-alt"></i></a>
            <a type="button" href="#!" class="col offset-s2 s8 btn-small custom-btn standard-btn modal-btn modal-close">
                Cancel <i class="fas fa-times-circle"></i></a>
        </div>
    </div>
</div>

<!-- Modal associated with favourite function -->
<div id="reviewed-modal" class="modal">
    <div class="modal-content">
        <h5>You have already reviewed this recipe.</h5>
    </div>
    <div class="col s12 m6 offset-m3">
        <div class="modal-footer">
            <a type="button" href="#!" class="col offset-s2 s8 btn-small custom-btn standard-btn modal-btn modal-close">
                Okay <i class="fas fa-times-circle"></i></a>
        </div>
    </div>
</div>

<!-- Modal associated with review function -->
<div id="review-modal" class="modal">
    <form method="POST" action="{{ url_for('review_recipe', recipe_id=recipe._id, username=session['user']) }}">
        <div class="modal-content">
            <textarea id="review-input" rows="8" name="review" placeholder="Your review here..." required></textarea>
        </div>
        <div class="col s12 m6 offset-m3">
            <div class="modal-footer">
                <a href="#!" class="col offset-s2 s8 btn-small custom-btn standard-btn modal-btn modal-close">
                    <i class="fas fa-times-circle"></i> Cancel</a>
                <button type="submit" class="col offset-s2 s8 btn-small custom-btn standard-btn modal-btn">
                    <i class="fas fa-check-circle"></i> Submit</button>
            </div>
        </div>
    </form>
</div>

<!-- Modal associated with updating review function -->
<div id="reviewed-modal" class="modal">
    <form method="POST" action="">
    <h5>You have alredy reviewed this recipe; your review is below.  If you need to you can update or delete
        your review.</h5>
    <div class="modal-content">
        <textarea id="review-input" rows="8" name="review" placeholder="Your review here..." required></textarea>
    </div>
    <div class="col s12 m6 offset-m3">
        <div class="modal-footer">
            <a href="#!" class="col offset-s2 s8 btn-small custom-btn standard-btn modal-btn modal-close">
                <i class="fas fa-times-circle"></i> Cancel</a>
            <button type="submit" class="col offset-s2 s8 btn-small custom-btn standard-btn modal-btn">
                <i class="fas fa-check-circle"></i> Update</button>
            <button type="submit" class="col offset-s2 s8 btn-small custom-btn standard-btn modal-btn">
                <i class="fas fa-check-circle"></i> Delete</button>
        </div>
    </div>
    </form>
</div>

{% endblock %}

{% block scripts %}
<script>
    function goBack() {
      window.history.back();
    }
</script>
<script src="{{ url_for('static', filename='js/user_rating_script.js') }}"></script>
<script src="{{ url_for('static', filename='js/all_reviews_script.js') }}"></script>

{% endblock %}
