{% extends "base.html" %}
{% block content %}

<!-- Displays selected recipe -->

<div class="container">
    <div class="row">
        <div class="col s12 m10 offset-m1">
            <!-- displays recipe image and recipe information -->
            <div class="recipe-card" id="recipe-card-top">
                <div class="row" id="recipe-card-top-details">
                    <div class="col s12 m5">
                        <div>
                            <p><i class="fas fa-arrow-right"></i> {{ category_name }}<p>
                            <h1>{{ recipe.recipe_title }}</h1>
                            <p>By {{ username }}</p>
                            <div class="display-flex">
                                <div id="rating">
                                    {%  if rating == 0 %}
                                        <p>No ratings yet</p>
                                    {% elif rating == 1 %}
                                        <i class="fas fa-star fa-lg star-outline star-filled"></i>
                                        <i class="fas fa-star fa-lg star-outline star-empty"></i>
                                        <i class="fas fa-star fa-lg star-outline star-empty"></i>
                                        <i class="fas fa-star fa-lg star-outline star-empty"></i>
                                        <i class="fas fa-star fa-lg star-outline star-empty"></i>
                                    {% elif rating == 2 %}
                                        <i class="fas fa-star fa-lg star-outline star-filled"></i>
                                        <i class="fas fa-star fa-lg star-outline star-filled"></i>
                                        <i class="fas fa-star fa-lg star-outline star-empty"></i>
                                        <i class="fas fa-star fa-2x star-outline star-empty"></i>
                                        <i class="fas fa-star fa-2x star-outline star-empty"></i>
                                    {% elif rating == 3 %}
                                        <i class="fas fa-star fa-2x star-outline star-filled"></i>
                                        <i class="fas fa-star fa-2x star-outline star-filled"></i>
                                        <i class="fas fa-star fa-2x star-outline star-filled"></i>
                                        <i class="fas fa-star fa-2x star-outline star-empty"></i>
                                        <i class="fas fa-star fa-2x star-outline star-empty"></i>
                                    {% elif rating == 4 %}
                                        <i class="fas fa-star fa-lg star-outline star-filled"></i>
                                        <i class="fas fa-star fa-lg star-outline star-filled"></i>
                                        <i class="fas fa-star fa-lg star-outline star-filled"></i>
                                        <i class="fas fa-star fa-lg star-outline star-filled"></i>
                                        <i class="fas fa-star fa-lg star-outline star-empty"></i>
                                    {% else %}
                                        <i class="fas fa-star fa-2x star-outline star-filled"></i>
                                        <i class="fas fa-star fa-2x star-outline star-filled"></i>
                                        <i class="fas fa-star fa-2x star-outline star-filled"></i>
                                        <i class="fas fa-star fa-2x star-outline star-filled"></i>
                                        <i class="fas fa-star fa-2x star-outline star-filled"></i>
                                    {% endif %}
                                </div>
                                <div id="number-ratings">
                                    {% if number_ratings == 1 %}
                                        <p>{{ number_ratings }} rating</p>
                                    {% elif number_ratings > 1 %}
                                        <p>{{ number_ratings }} ratings</p>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="display-flex">
                                <div>
                                    <p id="rating-text">Leave rating</p>
                                </div>
                                <div class="vert-line"></div>
                                <div>
                                    <p id="review-text">Leave review</p>
                                </div>
                            </div>
                            <div id="rating-area">
                                <form class="display-flex" method="POST" action="{{ url_for('rate_recipe', recipe_id=recipe._id) }}">
                                    <div id="star-panel">
                                        <input type="radio" class="radio_item" value="1" name="rating" id="radio1">
                                        <label class="label_item" for="radio1"><i id="star1" class=""></i></label>
                                        <input type="radio" class="radio_item" value="2" name="rating" id="radio2">
                                        <label class="label_item" for="radio2"><i id="star2" class=""></i></label>
                                        <input type="radio" class="radio_item" value="3" name="rating" id="radio3">
                                        <label class="label_item" for="radio3"><i id="star3" class=""></i></label>
                                        <input type="radio" class="radio_item" value="4" name="rating" id="radio4">
                                        <label class="label_item" for="radio4"><i id="star4" class=""></i></label>
                                        <input type="radio" class="radio_item" value="5" name="rating" id="radio5">
                                        <label class="label_item" for="radio5"><i id="star5" class=""></i></label>
                                    </div>
                                    <button type="submit" class="btn-small custom-btn" id="rating-submit-btn">
                                        Submit <i class="fas fa-arrow-circle-right"></i>
                                    </button>
                                </form>
                            </div>
                        </div>
                        <div id="recipe-heading-details">
                            <h6><i class="fas fa-clock prefix icon-style"></i> Prep time: {{ recipe.prep_time }} mins</h6>
                            <h6><i class="fas fa-clock prefix icon-style"></i> Cooking time: {{ recipe.cook_time }} mins</h6>
                            <h6><i class="fas fa-users prefix icon-style"></i> Serves: {{ recipe.serves }}</h6>
                        </div>
                    </div>
                    <div class="col s12 m7">
                        <img class="responsive-img recipe-image" src="{{ recipe.recipe_image }}">
                    </div>
                </div>
            </div>
            <!-- Recipe description display -->
            <div class="recipe-card" id="recipe-card-quote">
                <div class="row">
                    <div class="col s12" id="recipe-quote">
                        <h6>
                            <i class="fas fa-quote-left fa-xs icon-style"></i> 
                            {{ recipe.description }}
                            <i class="fas fa-quote-right fa-xs icon-style"></i> 
                        </h6>
                    </div>
                </div>
            </div>
            <!-- Ingredients display -->
            <div class="row">
                <div class="col s12 m5 l4">
                    <div class="recipe-card" id="recipe-card-ingredients">
                        <div class="row">
                            <div class="col s12">
                                <h5>Ingredients</h5>
                                {% for ingredient in recipe.ingredients %}
                                <p class="recipe-detail">
                                    <i class="fas fa-hand-point-right prefix icon-style"></i> {{ ingredient }}
                                </p>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Instructions display -->
                <div class="col s12 m7 l8">
                    <div class="recipe-card" id="recipe-card-instructions">
                        <div class="row">
                            <div class="col s12">
                                <h5>Instructions</h5>
                                {% for instruction in recipe.instructions %}
                                <p class="recipe-detail">
                                    <i class="fas fa-thumbs-up prefix icon-style"></i> {{ instruction }}
                                </p>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}

<script src="{{ url_for('static', filename='js/user_rating_script.js') }}"></script>

{% endblock %}
